In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("jpx-tokyo-stock-exchange-prediction/train_files/trades.csv")

In [4]:
df.head()

,Date,StartDate,EndDate,Section,TotalSales,TotalPurchases,TotalTotal,TotalBalance,ProprietarySales,ProprietaryPurchases,...,CityBKsRegionalBKsEtcTotal,CityBKsRegionalBKsEtcBalance,TrustBanksSales,TrustBanksPurchases,TrustBanksTotal,TrustBanksBalance,OtherFinancialInstitutionsSales,OtherFinancialInstitutionsPurchases,OtherFinancialInstitutionsTotal,OtherFinancialInstitutionsBalance
0,2017-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.dropna(inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 765 entries, 6 to 1710
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 765 non-null    object
 1   StartDate                            765 non-null    object
 2   EndDate                              765 non-null    object
 3   Section                              765 non-null    object
 4   TotalSales                           765 non-null    float64
 5   TotalPurchases                       765 non-null    float64
 6   TotalTotal                           765 non-null    float64
 7   TotalBalance                         765 non-null    float64
 8   ProprietarySales                     765 non-null    float64
 9   ProprietaryPurchases                 765 non-null    float64
 10  ProprietaryTotal                     765 non-null    float64
 11  ProprietaryBalance                   765 non-null    float64
 12  BrokerageSales                       765 non-null    float64
 13  BrokeragePurchases                   765 non-null    float64
 14  BrokerageTotal                       765 non-null    float64
 15  BrokerageBalance                     765 non-null    float64
 16  IndividualsSales                     765 non-null    float64
 17  IndividualsPurchases                 765 non-null    float64
 18  IndividualsTotal                     765 non-null    float64
 19  IndividualsBalance                   765 non-null    float64
 20  ForeignersSales                      765 non-null    float64
 21  ForeignersPurchases                  765 non-null    float64
 22  ForeignersTotal                      765 non-null    float64
 23  ForeignersBalance                    765 non-null    float64
 24  SecuritiesCosSales                   765 non-null    float64
 25  SecuritiesCosPurchases               765 non-null    float64
 26  SecuritiesCosTotal                   765 non-null    float64
 27  SecuritiesCosBalance                 765 non-null    float64
 28  InvestmentTrustsSales                765 non-null    float64
 29  InvestmentTrustsPurchases            765 non-null    float64
 30  InvestmentTrustsTotal                765 non-null    float64
 31  InvestmentTrustsBalance              765 non-null    float64
 32  BusinessCosSales                     765 non-null    float64
 33  BusinessCosPurchases                 765 non-null    float64
 34  BusinessCosTotal                     765 non-null    float64
 35  BusinessCosBalance                   765 non-null    float64
 36  OtherInstitutionsSales               765 non-null    float64
 37  OtherInstitutionsPurchases           765 non-null    float64
 38  OtherInstitutionsTotal               765 non-null    float64
 39  OtherInstitutionsBalance             765 non-null    float64
 40  InsuranceCosSales                    765 non-null    float64
 41  InsuranceCosPurchases                765 non-null    float64
 42  InsuranceCosTotal                    765 non-null    float64
 43  InsuranceCosBalance                  765 non-null    float64
 44  CityBKsRegionalBKsEtcSales           765 non-null    float64
 45  CityBKsRegionalBKsEtcPurchase        765 non-null    float64
 46  CityBKsRegionalBKsEtcTotal           765 non-null    float64
 47  CityBKsRegionalBKsEtcBalance         765 non-null    float64
 48  TrustBanksSales                      765 non-null    float64
 49  TrustBanksPurchases                  765 non-null    float64
 50  TrustBanksTotal                      765 non-null    float64
 51  TrustBanksBalance                    765 non-null    float64
 52  OtherFinancialInstitutionsSales      765 non-null    float64
 53  OtherFinancialInstitutionsPurchases  765 non-null    float64
 54  OtherFinancialInstitutionsTotal      765 non-null    float64
 55  OtherFinancialInstitutionsBalance    765 non-null    float64
dtypes: float64(52), object(4)
memory usage: 340.7+ KB

### Data extraction. % change in flow for each category

In [18]:
df["TotalChange"] = (df["TotalPurchases"] - df["TotalSales"])/df["TotalTotal"]
df["ProprietaryChange"] = (df["ProprietaryPurchases"] - df["ProprietarySales"])/df["ProprietaryTotal"]
df["BrokerageChange"] = (df["BrokeragePurchases"] - df["BrokerageSales"])/df["BrokerageTotal"]
df["IndividualsChange"] = (df["IndividualsPurchases"] - df["IndividualsSales"])/df["IndividualsTotal"]
df["ForeignersChange"] = (df["ForeignersPurchases"] - df["ForeignersSales"])/df["ForeignersTotal"]
df["SecuritiesCosChange"] = (df["SecuritiesCosPurchases"] - df["SecuritiesCosSales"])/df["SecuritiesCosTotal"]
df["InvestmentTrustsChange"] = (df["InvestmentTrustsPurchases"] - df["InvestmentTrustsSales"])/df["InvestmentTrustsTotal"]
df["BusinessCosChange"] = (df["BusinessCosPurchases"] - df["BusinessCosSales"])/df["BusinessCosTotal"]
df["OtherInstitutionsChange"] = (df["OtherInstitutionsPurchases"] - df["OtherInstitutionsSales"])/df["OtherInstitutionsTotal"]
df["InsuranceCosChange"] = (df["InsuranceCosPurchases"] - df["InsuranceCosSales"])/df["InsuranceCosTotal"]
df["CityBKsRegionalBKsEtcChange"] = (df["CityBKsRegionalBKsEtcPurchase"] - df["CityBKsRegionalBKsEtcSales"])/df["CityBKsRegionalBKsEtcTotal"]
df["TrustBanksChange"] = (df["TrustBanksPurchases"] - df["TrustBanksSales"])/df["TrustBanksTotal"]
df["OtherFinancialInstitutionsChange"] = (df["OtherFinancialInstitutionsPurchases"] - df["OtherFinancialInstitutionsSales"])/df["OtherFinancialInstitutionsTotal"]

0.21202011403376664